body {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-background: #f2f5ea;
  --color-background-secondary: #705D56;
  --color-secondary: #050517;
  --color-accent: #df2935;  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 100%;
  min-height: 100vh;
  margin: 0;

  display: grid;
  grid-template-rows: auto 1fr auto;

  color: var(--color-secondary);
  background-color: var(--color-background);
}

[data-theme='dark'] {
  --color-background: #33658A;
  --color-background-secondary: #050517;
  --color-secondary: #f2f5ea;
  --color-accent: #df2935;
}

nav {
  width: 100%;
  height: 4rem;

  background-color: var(--color-background-secondary);
}

.nav {
  margin: auto;

  height: 100%;
  max-width: 70rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game {
  margin: 3rem auto;
  padding: 2rem;

  background-color: var(--color-background-secondary);

  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: auto;
}

.tile {
  grid-column: auto;
  grid-row: auto;

  border: none;
}

.tile:hover {
  background-color: #0eb659;
}

.tile:nth-child(odd) {
  background-color: #df2935;
}

.tile:hover:nth-child(odd) {
  background-color: #33658A;
}

footer {
  width: 100%;
  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-background-secondary);
}
